#player {
    z-index: 9;
}

.sprite {
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    top: 80%;
    transform: translateY(-50%);
    z-index: 9;
}

.dhk {
    position: fixed;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 0;
}

#pi01 {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 0;
}

#pi02 {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 0;
}